/**
 *
 * Author:           BeiYuu
 * Contact:          beiyuu.com
 *
 */

/* 重置浏览器CSS */
/* 防止用户自定义背景颜色对网页的影响 */
html{color:#000;background:#F8F8F0;}
/* 内外边距通常让各个浏览器样式的表现位置不同 */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,hr,button,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{margin:0;padding:0;}
/* 重设 HTML5 标签, IE 需要在 js 中 createElement(TAG) */
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}
  /* 要注意表单元素并不继续父级 font 的问题 */
body,button,input,select,textarea{font-size:12px/1.5;}
input,select,textarea{font-size:100%;}
  /* 去掉各Table  cell 的边距并让其边重合 */
table{border-collapse:collapse;border-spacing:0;}
  /* IE bug fixed: th 不继承 text-align*/
th{text-align:inherit;}
/* 去除默认边框 */
fieldset,img,a img{border:0;}
/* ie6 7 8(q) bug 显示为行内表现 */
iframe{display:block;}
/* 去掉 firefox 下此元素的边框 */
abbr,acronym{border:0;font-variant:normal;}
/* 一致的 del 样式 */
del{text-decoration:line-through;}
address,caption,cite,code,dfn,em,th,var {font-style:normal;font-weight:500;}
  /* 去掉列表前的标识, li 会继承 */
ol,ul {list-style:none;}
/* 对齐是排版最重要的因素, 别让什么都居中 */
caption,th{text-align:left;}
/* 来自yahoo, 让标题都自定义, 适应多个系统应用 */
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:500;}
q:before,q:after {content:'';}
/* 统一上标和下标 */
sup{vertical-align:text-top;}
sub{vertical-align:text-bottom;}
/* 清理浮动 */
.clearfix:after {visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0;}
.clearfix{zoom:1; /* for IE6 IE7 */}
/* 隐藏, 通常用来与 JS 配合 */
body .hide{display:none;}
/* 设置内联, 减少浮动带来的bug */
.left,.right{display:inline;}
.left{float:left;}
.right{float:right;}


/***********default settings**********/
body {font-family: "微软雅黑","Arial","Helvetica","sans-serif";font-size:16px;background:#F8F8F0}
a {color:#4A75B5;text-decoration:none;outline:none;}
a:hover {text-decoration:underline}
a.external {padding-right:13px;background:url('/images/icons.gif') no-repeat right 1px;}
a.external:hover {background-position:right -14px;}
.entry-title,.entry-title a {font-size:30px;font-weight:bold;margin-bottom:6px;color:#000;text-align:center;}
.entry-title a:hover {text-decoration:none;}
.entry-date {text-align:center;color:#999;margin-bottom:60px;font-size:14px;}

h2 {font-size:22px;font-weight:bold;margin-bottom:25px;}
h3 {font-size:18px;font-weight:bold;margin-bottom:25px;}
h4,h5,h6 {font-weight:bold;margin-bottom:15px;}
p {margin-bottom:25px;line-height:1.5em;}
code {background:#eee;border:1px solid #ccc;padding:0 5px;font-family:"Courier";line-height:14px;font-size:14px;word-wrap:break-word;}
pre {background-color:#000;padding:15px;overflow:auto;margin-bottom:20px;font-size:14px;border: 1px solid #eee;-webkit-border-radius: 4px 4px 4px 4px;-moz-border-radius: 4px 4px 4px 4px;border-radius: 4px 4px 4px 4px;color:#b9bdb6}
pre code{background-color:transparent;border:none;padding:0;word-wrap:normal;}
pre ol{margin-left:25px;list-style-type:decimal;}

/************layout style*****************/
#head {width:100%;height:60px;margin-bottom:20px;}
#content {width:650px;margin:0 auto;min-height:400px;height:auto !important;height:400px;}

/***************header style************/
#head .logo {font-size:30px;font-weight:bold;margin-top:18px;padding-left:20px;}
#head .logo a{color:#999;}
#head .logo a:hover {text-decoration:none;color:#666;}
#head .logo a:active {position:relative;top:1px;opacity:0.9;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(opacity=90)";filter:alpha(opacity=90);}

/****************entry style**************/
#content .entry{margin-bottom:50px;}
.entry ul{margin-bottom:25px;margin-left:25px;margin-top:-15px;}
.entry ul li{margin-bottom:5px;list-style:disc;line-height:1.5em;}
.entry ol{margin-bottom:25px;margin-left:25px;margin-top:-15px;}
.entry ol li{margin-bottom:5px;list-style:decimal;line-height:1.5em;}
.entry blockquote{margin-left:25px;font-size:14px;font-style:italic}
.entry img{max-width:650px;display:block;margin:10px auto;}

/***************category style**************/
.category h2{font-size:19px;}
.category h2 a{color:#444}
.category h2 a:hover {color:#E50053;text-decoration:none;}
.category li{display:-moz-inline-stack;display:inline-block;*display:inline;width:230px;margin-bottom:30px;zoom:1;padding:10px 45px;vertical-align:middle;text-align:center;}
.category span{color:#999;font-style:italic;font-size:14px;display:block;text-align:left;margin-top:-20px;}

.index-artical ul{display:inline-block;width:290px;vertical-align:top;*float:left;zoom:1;}
.index-artical .index-left{padding-right:28px}
.index-artical .index-mid {margin-top:15px;border-right:1px solid #ccc;width:1px;}
.index-artical .index-right{padding-left:28px;}
.index-artical h2{font-size:20px;}
.index-artical h2 a{color:#444}
.index-artical h2 a:hover {color:#E50053;text-decoration:none;}
.index-artical li{margin-bottom:45px;}
.title-desc {color:#aaa;font-style:italic;font-size:14px;display:block;text-align:left;margin-top:-20px;}

/***************Wiki Style*****************/
.wiki h2{cursor:pointer;}
.wiki ul{margin-left:30px;margin-bottom:20px;list-style:disc}
.wiki ul li{margin-bottom:5px;}
.wiki ul ul{list-style:circle;margin-top:10px;margin-bottom:10px;}
/***************contact style*************/
#disqus_container {font-size:12px;}
#disqus_container a.comment{font-size:14px;}
h3.about {color:#777;margin-top:20px;font-size:22px;margin-bottom:10px}
.about-link a {margin-right:10px;font-weight:bold;font-style:italic;font-size:13px;color:#E50053}
/**************目录导航**************/
#menuIndex {position:fixed;top:60px;right:20px;width:200px;overflow:auto}
#menuIndex a {display:block}
#menuIndex a:hover {text-decoration:none;}
#menuIndex ul li{font-size:12px;margin-bottom:5px;word-wrap:break-word;padding-left:10px;}
#menuIndex ul li.on{background-color:#eee}
#menuIndex li.h1{font-size:14px;font-weight:normal;padding-left:0;margin-bottom:10px;}
#menuIndex li.h3{padding-left:25px;}

#about{background:#262626;width:100%;margin:0 auto;border-top:6px solid #026b8c;overflow:hidden;margin-top:30px;font-size:14px;line-height:1.6em;}
#about .about-content {width:720px;margin:50px auto;}
#about h2{color:#bbb;font-size:24px;font-weight:bold;border-bottom:1px solid #444;line-height:45px;}
#about .about-left{float:left;width:200px;color:#999;}
#about .about-more {margin-left:60px;}
#about .weibo-con{margin-top:-10px;margin-left:-14px;}
#about .copyright {margin-top:15px;font-size:12px;color:#666;overflow:hidden;}
#about a:link,
#about a:visited,
#about a:hover,
#about a:active {color:#5e8dba;outline:none;text-decoration:none;}
#about a:hover {text-decoration:underline;}

@media screen and (max-width: 480px){
    body {font-size:14px}
    #head {height:25px;}
    #head .logo{font-size:22px;padding-left:8px;text-align:center;}
    #content {width:95%;margin:0 auto;}

    h2{font-size:20px;}
    h3{font-size:16px;}
    embed {display:none;}

    .entry-title,.entry-title a {font-size:24px;}
    .entry-date {margin-bottom:40px;}
    .entry img{max-width:90%;}
    .entry pre ol li{margin-bottom:0;line-height:1em;}
    .entry pre code{line-height:1em;font-size:12px;}

    .index-artical ul {display:block;margin:0 auto;width:95%;}
    .index-artical .index-mid {display:none;}
    .index-artical .index-left {padding:0;}
    .index-artical .index-right {padding:0;}

    #about h2{font-size:20px;line-height:30px;margin-bottom:10px;}
    #about .about-content {width:95%;margin:15px auto;}
    #about .about-left {float:none;width:70%;margin:0 auto;}
    #about .about-left h2{text-align:right;}
    #about .about-more {margin:0 auto;;margin-top:20px}
    #about .copyright {margin-top:0;}
}
@media (max-width: 850px){
    #menuIndex {display:none;}
}
