<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">

	<title>{{ page.title }} | {% if page.tagline %}{{page.tagline}}{% else %}{{ site.title }}{% endif %}</title>

    {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
    <meta name="author" content="{{ site.author.name }}">


    <link rel="stylesheet" href="{{ site.JB.ASSET_PATH }}/css/bootstrap.min.css">
    
    <link rel="stylesheet" href="{{ site.JB.ASSET_PATH }}/css/bootstrap.min.2.css" />
    
  <link rel="stylesheet" href="{{ site.JB.ASSET_PATH }}/css/pygment_trac.css">

    <link rel="stylesheet" href="{{ site.JB.ASSET_PATH }}/fancyBox/jquery.fancybox.css">
<link rel="stylesheet" href="{{ site.JB.ASSET_PATH }}/css/style.css" type="text/css" media="screen" charset="utf-8">
<!--
    <link rel="stylesheet" href="{{ site.JB.ASSET_PATH }}/css/pygment.css" media="all"> -->
    </style>
    
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
<!--[if lt IE9]>
<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<!-- 	<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script> -->

 <!--  <script type="text/javascript">
    (function() {
      var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
      po.src = 'https://apis.google.com/js/plusone.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
    })();
  </script>  -->
  
  </head>
  <body>

    <div class="wrapper">
  
      <section class="main" id="container">
		<!--^frag-->{{ content }}<!--$frag -->
      </section>
  </div>
      <aside>

	<hgroup>
          <h1 id="logo"><a href="/">{{ site.title}}</a></h1>
          {% if site.tagline %}
            <p id="tagline">{{ site.tagline}}</p>
          {% endif %}
        </hgroup> 
<!--
	<p class="about text-justify">
          {{ site.about }}
        </p> 
-->
<nav>
	<h3>最近文章</h3>
          <ul>
      		{% for post in site.posts limit:10 %}
	<li><h5><a href="{{ post.url }}">{{ post.title }}</a> </li>
	{% endfor %}
          </ul>
        </nav>
 <nav>
	<h3>热门文章</h3>
          <ul>
      	<li><a href="/blog/2015/03/github-pages-blog.html">利用Github-pages建立个人博客</li>	
<li><a href="/blog/2015/04/gradle-in-action-cn.html">Gradle实战中文版</li>
<li><a href="/blog/2014/12/c-open-project.html">值得推荐的C/C++框架和库</li>
<li><a href="/blog/2014/12/c-code-opt.html">C代码优化小贴士</li>	
<li><a href="/blog/2014/06/26-methods-to-improve-java-performance.html">Java编程Tips</li>	
<li><a href="/blog/2015/04/gradle-in-action-cn.html">Gradle实战中文版</li>	 
	 
          </ul>
        </nav>
<!--
        <nav>
	<h3>导航</h3>
          <ul>
      		<li><a href="/">主页</a></li>			
      		<li><a href="/archive.html">归档</a></li>
      		<li><a href="/tags.html">标签</a></li>
      		<li><a href="/categories.html">分类</a></li>
		<li><a href="/about.html">关于我</a></li>
          </ul>
        </nav>

   

       <h3>联系我</h3>
        <p class="contact">
 <a href="http://weibo.com/ouyanglip" title="微博联系我"><img src="http://www.sinaimg.cn/blog/developer/wiki/LOGO_32x32.png" width="24" height="24" style="display:inline-block;vertical-align:middle"></a><br/>
        <a href="http://www.zhihu.com/people/lippi-ouyang" title="知乎联系我"><img src="http://www.zhihu.com/favicon.ico" width="24" height="24" style="display:inline-block;vertical-align:middle"></a><br/>
 <a href="https://github.com/LippiOuYang" title="Github联系我"><img src="http://www.github.com/favicon.ico" width="24" height="24" style="display:inline-block;vertical-align:middle"></a><br/>
         <a href='mailto:ouyanglip@gmail.com'>ouyanglip@gmail.com</a><br/>   

<!--         	<div class="media-grid"><a class="various fancybox.iframe" href="http://map.naver.com/index.nhn?dlevel=11&lat=37.5711873&lng=126.9823252&query=&menu=location&searchCoord=&tab=1&pinId=30858388&pinType=site&pinTitle=7Jyg7Iqk7ZKA7Yyo65%2Bs64uk7J6E&mapMode=0&enc=b64"><img src="http://prt.map.naver.com/mashupmap/print?key=p1345437335473_983733216" width="270" height="160" alt="地图" title="地图" border="0" style="vertical-align:top;"/></a></div> -->

      <ul>
          <li class="search"><script>
  (function() {
    var cx = '015104026998727815951:bza74imjgds';
    var gcse = document.createElement('script');
    gcse.type = 'text/javascript';
    gcse.async = true;
    gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
        '//www.google.com/cse/cse.js?cx=' + cx;
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(gcse, s);
  })();
</script>
<gcse:searchbox-only resultsUrl="/search.html"></gcse:searchbox-only></li>
        </ul> 
        </p>
      </aside>
      <footer class="main">
	<!--  <h3>Misc...</h3>  -->
        <p><small>
			Powered by <a href="http://pages.github.com/">GitHub Pages</a>.
			Themed with <a href="http://github.com/orderedlist/minimal/">minimal</a>.
		</small></p>
      </footer>
   
    <script src="{{ site.JB.ASSET_PATH }}/js/scale.fix.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js" type="text/javascript"></script>
	<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/jquery-ui.min.js"></script>
  <script src="{{ ASSET_PATH }}/js/bootstrap.min.js"></script>
  <!script src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/1.1.2/handlebars.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/ember.js/1.5.0/ember.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery.imagesloaded/3.0.4/jquery.imagesloaded.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/masonry/3.1.2/masonry.pkgd.min.js"></script>

	<script src="{{ site.JB.ASSET_PATH }}/fancyBox/jquery.fancybox.pack.js"></script>
	<script src="{{ site.JB.ASSET_PATH }}/js/application.js"></script>
	<script src="http://tjs.sjs.sinajs.cn/open/api/js/wb.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript" src="{{ site.JB.ASSET_PATH }}/js/go-top.js"></script>  
    
  </body>
</html>
