<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">

	<title>{{ page.title }} | {% if page.tagline %}{{page.tagline}}{% else %}{{ site.title }}{% endif %}</title>

    {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
    <meta name="author" content="{{ site.author.name }}">


    <link rel="stylesheet" href="{{ site.JB.ASSET_PATH }}/css/bootstrap.min.css">
    
    <link rel="stylesheet" href="{{ site.JB.ASSET_PATH }}/css/bootstrap.min.2.css" />
    
  <link rel="stylesheet" href="{{ site.JB.ASSET_PATH }}/css/pygment_trac.css">

    <link rel="stylesheet" href="{{ site.JB.ASSET_PATH }}/fancyBox/jquery.fancybox.css">
<link rel="stylesheet" href="{{ site.JB.ASSET_PATH }}/css/style.css" type="text/css" media="screen" charset="utf-8">
    </style>
    
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  
  </head>
  <body>

     
      <section class="main" id="container">
		<!--^frag-->{{ content }}<!--$frag -->
      </section>

 
     
    <script src="{{ site.JB.ASSET_PATH }}/js/scale.fix.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js" type="text/javascript"></script>
	<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/jquery-ui.min.js"></script>
  <script src="{{ ASSET_PATH }}/js/bootstrap.min.js"></script>
  <!script src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/1.1.2/handlebars.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/ember.js/1.5.0/ember.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery.imagesloaded/3.0.4/jquery.imagesloaded.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/masonry/3.1.2/masonry.pkgd.min.js"></script>

	<script src="{{ site.JB.ASSET_PATH }}/fancyBox/jquery.fancybox.pack.js"></script>
	<script src="{{ site.JB.ASSET_PATH }}/js/application.js"></script>
	<script src="http://tjs.sjs.sinajs.cn/open/api/js/wb.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript" src="{{ site.JB.ASSET_PATH }}/js/go-top.js"></script>  
    
  </body>
</html>
