<article class="post">
	<header>
    {% include navtabs.html %}
	<div class="page-header">
		  <h1>{{ page.title }}</h1>
    </div>
		<p><b>发布于：</b> <time datetime="{{ page.date | date_to_xmlschema }}" pubdate>
			{{ page.date | date: "%Y年%-m月%-d日 %H时%M分%S秒" }}</time>
     <!-- <a href="https://plus.google.com/{{ site.author.googleplus }}?rel=author">{{ site.author.name }}</a> -->
    </p>
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?085fc257cb1e774f7764a2cf527c393d";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>

	</header>

<aside>
 <nav>
	<h3>最近文章</h3>
          <ul>
      		{% for post in site.posts limit:15 %}
	<li> {post.title} </li>
	{% endfor %}
          </ul>
        </nav>
</aside>
	{{ content }}
	<p>分享到：</p>
	<p>
		{% include shares.html %}
	</p>

	<footer>
    <section>
      {% unless page.tags == empty %}
        <h1><b>标签：</b></h1>
        <ul>
        {% assign tags_list = page.tags %}
        {% include JB/tags_list %}
        </ul>
      {% endunless %}

      {% unless page.categories == empty %}
        <h1><b>归档于：</b></h1>
        <ul>
        {% assign categories_list = page.categories %}
        {% include JB/categories_list %}
        </ul>
      {% endunless %}
    </section>
	</footer>

	{% include disqus.html %}


   
    <script type="text/javascript" id="wumiiRelatedItems"></script>
    <script type="text/javascript">
    var wumiiPermaLink = ""; //请用代码生成文章永久的链接
    var wumiiTitle = {{ page.title | jsonify }}; //请用代码生成文章标题
    var wumiiTags = {{ page.tags | join:"," | jsonify }}; //请用代码生成文章标签，以英文逗号分隔，如："标签1,标签2"
    var wumiiCategories = {{ page.categories | jsonify }};
    var wumiiSitePrefix = "http://coolshell.info/";
    var wumiiParams = "&num=5&mode=3&pf=JAVASCRIPT";
</script>
<script type="text/javascript" src="http://widget.wumii.com/ext/relatedItemsWidget"></script>
<a rel="nofollow" href="http://www.wumii.com/widget/relatedItems" style="border:0;">
    <img src="http://static.wumii.cn/images/pixel.png" alt="无觅相关文章插件，快速提升流量" style="border:0;padding:0;margin:0;" />
</a>    
    <hr>
    <!-- Duoshuo Comment BEGIN 
    <div id="comments" class="ds-thread"></div>
<script type="text/javascript">
var duoshuoQuery = {short_name:"coolshell"};
    (function() {
        var ds = document.createElement('script');
        ds.type = 'text/javascript';ds.async = true;
        ds.src = 'http://static.duoshuo.com/embed.js';
        ds.charset = 'UTF-8';
        (document.getElementsByTagName('head')[0] 
        || document.getElementsByTagName('body')[0]).appendChild(ds);
    })();
    </script>
<!-- Duoshuo Comment END -->
</article>
