            <form action="https://google3.azurewebsites.net/search" method="get">
              <div class="input-group">
                <input type="text" name="q" class="form-control">
				<input type="hidden" name="ie" value="UTF-8" />
				<input type="hidden" name="sitesearch" value="{{ site.domain }}" />
                <span class="input-group-btn">
                  <button class="btn btn-default" type="submit">
                    <span class="glyphicon glyphicon-search">
                    </span>
                  </button>
                </span>
              </div>
            </form>