---
---
/* clearfix
----------------------------------------------------------------------------------------------------*/
.clearfix:after,
.grid:after,
.hasGrid:after,
.the_header:after,
#main:after,
#main .article_inner:after,
.the_footer:after {
	clear:both;
	display:block;
	visibility:hidden;
	overflow:hidden;
	height:0 !important;
	line-height:0;
	font-size:xx-large;
	content:" x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x ";}
.clearfix,
.grid,
.hasGrid,
.the_header,
#main,
#main .article_inner,
.the_footer { zoom: 1; } /* IE6-7 */
/* typography
-------------------------------------------------------- */
body {
	font-family: Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, "MS PGothic", Osaka, Sans-Serif;
	font-size: 100%;
	line-height: 1.5; 
}
/* Headings
-------------------------------------------------------- */
h1, h2, h3, h4, h5,h6 {
	font-weight: bold;
	text-shadow: 0px 1px 0px #fff;
}
h1, .h1 { 
	font-size:2em;
	line-height: 1.5;
	margin: 0.75em 0;
}
h2, .h2 {
	font-size:1.75em;
	line-height: 1.7143;
	margin: 0.8571em 0;
}
h3, .h3 {
	font-size:1.5em;
	line-height: 1;
	margin: 1em 0;
}
h4, .h4 {
	font-size: 1.3125em;
	line-height: 1.1429;
	margin: 1.1429em 0;
}
h5, .h5 {
	font-size:1.1688em;
	font-size: 1.125em;
	line-height: 1.3333;
	margin: 1.3333em 0;
}
h6, .h6 {
	font-size:1em;
	line-height: 1.5;
	margin: 1.5em 0;
}
/* LINK
-------------------------------------------------------- */
a:link {
	color: #1a1a1a;
	text-decoration: none;
}
a:visited {
	color: #383838;
	text-decoration: none;
}
a:hover {
	color: #555555;
	text-decoration: none;
}
/* P UL OL DL, IMG
-------------------------------------------------------- */
p, ul, ol, dl, img {
	font-size: 1.0625em;
	line-height: 1.4118;
	margin: 0 0 1.4118em 0;
}
/* ALL THE TRIMMINGS
-------------------------------------------------------- */
blockquote {
	font-size: 0.875em;
	line-height: 1.714286;
	font-style: italic;
	font-weight: bold;
}
blockquote cite { font-weight: normal; }
strong { font-weight: bold; }
em { font-weight: bold; }
.amp {
	font-family: Baskerville, "Goudy Old Style", "Palatino", "Book Antiqua", serif; /* Give those ampersands a right sexy look */
	font-style: italic;
	font-weight: normal;
	line-height: inherit;
}
