/* mod */
.mod .bd, .mod .ft, .mod .hd { display: inline-block; width:100%; *display:block; *width:auto; zoom:1; }
.mod .inner:after, .mod .hd:after, .mod .bd:after, .mod .ft:after {
	clear:both;
	display:block;
	visibility:hidden;
	overflow:hidden;
	height:0 !important;
	line-height:0;
	font-size:xx-large;
	content:" x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x ";
}
.mod .inner{ position:relative; }
/* media */
.media:after, .media .bd:after {
	clear:both;
	display:block;
	visibility:hidden;
	overflow:hidden;height:0 !important;
	line-height:0;
	font-size:xx-large;
	content:" x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x ";
}
.media .bd { display:table-cell; zoom:1; }
.media .bd > :first-child { margin-top:0; }
.media .bd > :last-child { margin-bottom:0; }
.media .img img { display:block; }
