<!DOCTYPE html>
<html lang="en">
  
  <head>
    <meta name="baidu-site-verification" content="HvuxptDcq6" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ page.title }} - {{ site.title }} - {{ site.author }}({{ site.email }})">
    <title>
      {{ page.title }} - {{ site.title }}
    </title>
    <!-- Bootstrap Core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS 
    <link href="/css/blog.css" rel="stylesheet">-->
    <!-- index css -->
    <link href="/css/index.css" rel="stylesheet">
	<!-- pagments CSS-->
	<link href="/css/pygments.css" rel="stylesheet">
        <!-- jQuery Version 1.11.0 -->
    <script src="/js/jquery-1.11.0.js"> </script>
    <!-- Bootstrap Core JavaScript -->
    <script src="/js/bootstrap.min.js"></script>
   <!-- 回到顶部js-->
    <script src="/js/index.js"></script>

	<script>
	var _hmt = _hmt || [];
	(function() {
	  var hm = document.createElement("script");
	  hm.src = "//hm.baidu.com/hm.js?085fc257cb1e774f7764a2cf527c393d";
	  var s = document.getElementsByTagName("script")[0]; 
	  s.parentNode.insertBefore(hm, s);
	})();
	</script>

	<script>
    (function(){
     var bp = document.createElement('script');
	 bp.src = '//push.zhanzhang.baidu.com/push.js';
	 var s = document.getElementsByTagName("script")[0];
	 s.parentNode.insertBefore(bp, s);
	 })();
	</script>

  </head>
  
  <body>
    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">
              Toggle navigation
            </span>
            <span class="icon-bar">
            </span>
            <span class="icon-bar">
            </span>
            <span class="icon-bar">
            </span>
          </button>
          <a class="navbar-brand" href="/index.html">
            {{ site.title }}
          </a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          {% include navigation.html %} 
        </div>
        <!-- /.navbar-collapse -->
      </div>
      <!-- /.container -->
    </nav>
    <!-- Page Content -->
    <div class="container">
      <div class="row">
        <!-- Blog Entries Column -->
        <div class="col-md-8">
          {{ content }}
        </div>

	 <div id="top" data-toggle="tooltip" data-placement="left" title="回到顶部">
	      <a href="javascript:;">
		<div class="arrow"></div>
		<div class="stick"></div>
	      </a>
	    </div>

        <!-- Blog Sidebar Widgets Column -->
        <div class="col-md-4">
          <!-- Blog Search Well -->  
	
            {% include search.html %}
          <!-- Blog Categories Well -->
              {% include categories.html %} 
         
              {% include hot.html %} 
       
            {% include links.html %} 

          <!-- Side Widget Well -->
           
        </div>
      </div>



      <!-- /.row -->
      <hr>
      <!-- Footer -->
      <footer>
           {% include copyright.html %} 
              {% include analytics.html %} 

      </footer>
    </div>
    <!-- /.container -->
  </body>

</html>
