---
layout: page
---
<link rel="stylesheet" href="/js/prettify/prettify.css" />
<div class="entry">
    {{ content }}
</div><!-- .entry -->
<div id="disqus_container"> 
    <a href="#" class="comment" onclick="return false;">点击查看评论</a>
    <div id="disqus_thread"></div>
</div> 
<script type="text/javascript">
    BYB.readyFunction = function(){
        $(document).ready(function(){
            $('pre').addClass('prettyprint linenum') //添加Google code Hight需要的class

            $('#disqus_container .comment').on('click',function(){
                $(this).html('加载中...');
                var disqus_shortname = 'beiyuu';
                var that = this;
                BYB.includeScript('http://' + disqus_shortname + '.disqus.com/embed.js',function(){$(that).remove()});
            });

            $('.entry a').each(function(index,element){
                var href = $(this).attr('href');
                if(href.indexOf('#') == 0){
                }else if ( href.indexOf('/') == 0 || href.toLowerCase().indexOf('beiyuu.com')>-1 ){
                }else{
                    $(this).attr('target','_blank');
                    $(this).addClass('external');
                }
            });

            BYB.includeScript('/js/prettify/prettify.js',function(){prettyPrint()});
        });
    };
</script>
