--- 
layout: default 
--- 
<!-- Blog Post -->
<!-- Title -->
<div class="row">
  <div class="post-area post">

 	<div class="post-list-body">
        	<div class="all-posts" post-cate="All">
 		<header>
		<h1>
		  {{ page.title }}
		  <div class="post-date"><a href="https://github.com/{{ site.github }}/{{ site.github }}.github.io/edit/master/{{ page.path }}" target="_blank">纠错</a>&nbsp;&nbsp;
			<span class="glyphicon glyphicon-time"></span>
			{{ page.date | date_to_string }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}
		  </div>
		</h1>
 		</header>
		<!-- Author -->
		<hr>
		 <article>
		{{ content }}
		  </article>
		<hr>
	<br/>
        <p>
          本作品由 <a href="mailto:{{ site.email }}">{{ site.author }}</a> 创作，采用
          <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/cn/" title="查看协议详细信息" target="_blank">CC BY-NC-SA 3.0 许可协议</a>
          进行许可。
        </p>
	<div style="margin-top:10px;margin-bottom:10px">
	  {%if page.previous%}
	  <span class="next">
	    上篇：
	    <a href="{{page.previous.url}}">
	      {{page.previous.title}}
	    </a>
	  </span>
	  {%endif%} 
	  {%if page.next%}
	  <span class="prev">
	    下篇：
	    <a href="{{page.next.url}}">
	      {{page.next.title}}
	    </a>
	  </span>
	  {%endif%}
	</div>
	</div>
	
        {% for category in site.categories %}
	<div post-cate="{{category | first}}">
          <ul class="posts">
            {% for posts in category  %}
              {% for post in posts %}
                {% if post.url %}
		<li>
                  <a href="{{ post.url }}" class="post-list-item">
                    <h2>{{ post.title }}</h2>
                    <span class="date">{{ post.date | date: "%b %-d, %Y" }}</span>
                  </a>
		</li>
                {% endif %}
              {% endfor %}
            {% endfor %}
          </ul>
	</div>
        {% endfor %}
	 </div>

</div>


<!-- Blog Comments -->
<div class="media">
  {% include comment.html %} 
</div> 
</div>
