<div class="page-header">
  <h1>{{ page.title }} <small>{{ page.tagline }}</small></h1>
</div>
<div class="row-fluid">
  <div class="span8">  
    <div id="article">
    {{ content }}    
    </div>  

    {% unless page.tags == empty %}
    <ul class="tag_box inline">
      <li><i class="icon-tags"></i></li>
      {% assign tags_list = page.tags %}
      {% include JB/tags_list %}
    </ul>
    {% endunless %}  
    
    <hr/>

    <div class="pagination">
      <ul>
      {% if page.previous %}
        <li class="prev"><a href="{{ BASE_PATH }}{{ page.previous.url }}" title="{{ page.previous.title }}">&larr; 上一篇</a></li>
      {% else %}
        <li class="prev disabled"><a>&larr; 上一篇</a></li>
      {% endif %}
        <li><a href="{{ BASE_PATH }}{{ site.JB.archive_path }}">归档</a></li>
      {% if page.next %}
        <li class="next"><a href="{{ BASE_PATH }}{{ page.next.url }}" title="{{ page.next.title }}">下一篇 &rarr;</a></li>
      {% else %}
        <li class="next disabled"><a>下一篇 &rarr;</a>
      {% endif %}
      </ul>
    </div>
    
   
   
    <script type="text/javascript" id="wumiiRelatedItems"></script>
    <script type="text/javascript">
    var wumiiPermaLink = ""; //请用代码生成文章永久的链接
    var wumiiTitle = {{ page.title | jsonify }}; //请用代码生成文章标题
    var wumiiTags = {{ page.tags | join:"," | jsonify }}; //请用代码生成文章标签，以英文逗号分隔，如："标签1,标签2"
    var wumiiCategories = {{ page.categories | jsonify }};
    var wumiiSitePrefix = "http://justjavac.com/";
    var wumiiParams = "&num=5&mode=3&pf=JAVASCRIPT";
</script>
<script type="text/javascript" src="http://widget.wumii.com/ext/relatedItemsWidget"></script>
<a rel="nofollow" href="http://www.wumii.com/widget/relatedItems" style="border:0;">
    <img src="http://static.wumii.cn/images/pixel.png" alt="无觅相关文章插件，快速提升流量" style="border:0;padding:0;margin:0;" />
</a>    
    <hr>
    <!-- Duoshuo Comment BEGIN -->
    <div id="comments" class="ds-thread"></div>
<script type="text/javascript">
var duoshuoQuery = {short_name:"justjavac"};
    (function() {
        var ds = document.createElement('script');
        ds.type = 'text/javascript';ds.async = true;
        ds.src = 'http://static.duoshuo.com/embed.js';
        ds.charset = 'UTF-8';
        (document.getElementsByTagName('head')[0] 
        || document.getElementsByTagName('body')[0]).appendChild(ds);
    })();
    </script>
<!-- Duoshuo Comment END -->
  </div>
  
  <aside class="span4">

    <section>
    <h3>推荐阅读</h3>
    <ul id="recent_posts">
      <li><a href="http://lippiouyangonline.info/codepuzzle/2013/11/02/codepuzzle-float-from-surprised-to-ponder.html" target="_blank">代码陷阱-浮点数</a></li>
      <li><a href="http://lippiouyangonline.info/other/programming/reprints/2012/05/15/qualified-programmer-should-read-what-books.html" target="_blank">一个合格的程序员应该读过哪些书</a></li>
      <li><a href="http://lippiouyangonline.info/other/programming/reprints/2012/05/15/whats-wrong-with-the-for-loop.html" target="_blank">for 循环为何可恨？</a></li>
	  <li><a href="http://lippiouyangonline.info/other/programming/reprints/2012/11/12/do-not-bool-as-function-parameters.html" target="_blank">不要把bool当函数参数</a></li>
	  <li><a href="http://lippiouyangonline.info/java/reprints/2014/05/16/78-golden-rules-of-the-java-programming.html" target="_blank">java编程的78条黄金法则</a></li>
	 <li><a href="http://lippiouyangonline.info/algorithm/2013/12/18/skip-list.html" target="_blank">skip list跳跃表实现</a></li>
	  <li><a href="http://lippiouyangonline.info/jekyll/reprints/2013/04/05/use-jekyll-build-blog-on-github.html" target="_blank">使用jekyll在Github上搭建博客</a></li>
	  <li><a href="http://lippiouyangonline.info/git/reprints/2014/03/31/progit-introduction.html">progit - 起步</a></li>
    </ul>
    </section>
    
    <section data-spy="affix" data-offset-top="418" class="hot_articles affix-top">
    <h3>热门文章</h3>
    <ul class="hots gray">
    <li class="textItem">
            <p class="itemTitle">
                <span class="hot">1</span>
                <a href="http://lippiouyangonline.info/codepuzzle/2013/11/02/codepuzzle-float-from-surprised-to-ponder.html" target="_blank" title="代码陷阱-浮点数">
    代码陷阱-浮点数</a></p>
            </li>
    <li class="textItem">
            <p class="itemTitle">
                <span class="hot">2</span>
                <a href="http://lippiouyangonline.info/java/reprints/2014/05/18/a-return-to-good-code.html" target="_blank" title="只要一个返回语句">
    只要一个返回语句</a></p>
            </li>
    <li class="textItem">
            <p class="itemTitle">
                <span class="hot">3</span>
                <a href="http://lippiouyangonline.info/git/reprints/2013/10/02/start-github-on-window.html" target="_blank" title="window 下建立 github 连接">
    window 下建立 github 连接</a></p>
            </li>
    <li class="textItem">
            <p class="itemTitle">
                <span class="">4</span>
                <a href="http://lippiouyangonline.info/python/reprints/2013/06/11/a-guide-to-pythons-magic-methods.html" target="_blank" title="Python 的神奇方法指南">
    Python 的神奇方法指南</a></p>
            </li>
    <li class="textItem">
            <p class="itemTitle">
                <span class="">5</span>
                <a href="http://lippiouyangonline.info/other/programming/reprints/2012/11/12/do-not-bool-as-function-parameters.html" target="_blank" title="千万不要把 bool 当成函数参数">
    千万不要把 bool 当成函数参数</a></p>
            </li>
    <li class="textItem">
            <p class="itemTitle">
                <span class="">6</span>
                <a href="http://lippiouyangonline.info/other/programming/reprints/2012/05/15/qualified-programmer-should-read-what-books.html" target="_blank" title="一个合格的程序员应该读过哪些书">
    一个合格的程序员应该读过哪些书</a></p>
            </li>
	 <li class="textItem">
            <p class="itemTitle">
                <span class="">6</span>
                <a href="http://lippiouyangonline.info/jekyll/2013/03/31/markdown-basics.html" target="_blank" title="markdown 快速入门">
    markdown 快速入门</a></p>
            </li>
	 <li class="textItem">
            <p class="itemTitle">
                <span class="">6</span>
                <a href="http://lippiouyangonline.info/other/programming/reprints/2012/05/16/search-techniques-of-efficient-programmers.html" target="_blank" title="成为高效程序员的搜索技巧">
    成为高效程序员的搜索技巧</a></p>
            </li>
	 <li class="textItem">
            <p class="itemTitle">
                <span class="">6</span>
                <a href="http://lippiouyangonline.info/other/programming/reprints/2012/05/29/to-use-little-function.html" title="函数要多小才够好——谈小函数之道">
	函数要多小才够好——谈小函数之道</a></p>
            </li>
          </li>
    </ul> 
    </section>    

  </aside>
</div>
